/* Define the style of nav block, with width, height, border and padding. */
nav {
  background-color: #f2f2f2f2;
  margin-left: 40px;
  width: 918px;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-right: 200px;
  padding-left: 200px;
  margin-top: 20px;
}

.logo {
  float: left;
  width: 200px;
  height: 66px;
  margin-top: 15px;
  margin-left: 80px;
}

/* Define the style of ul which is inside of nav block, with width, height, border and padding. */
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

/* Define the style of li which is inside of nav block, with width, height, border and padding. */
nav ul li a {
  display: block;
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 6px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  border-radius: 6px;
  background-color: #52ab98;
}

/* Define the style of link which is inside of nav block, with width, height, border and padding. 
** And the style of hover and active status of li link.
*/
li a:link {
  color: white;
  text-decoration: none;
}

li a:hover {
  color: white;
  background-color: #555555;
  text-decoration: none;
}

li a:active {
  color: rgb(245, 247, 241);
}

.textblock a:link {
  font-weight: bolder;
}

.textblock a:hover {
  color: white;
  background-color: #555555;
  text-decoration: none;
}

.grid-container {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-top: 10px;
}

.textblock {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #c8d8e4;
  width: 400px;
  margin-left: 10px;
  padding: 20px;
}

.textblock > p {
  font-family: "Times New Roman", Times, serif;
  font-size: 16pt;
  line-height: 28px;
  text-indent: 20px;
}

.textblock > ul > li {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  padding: 4px;
}

footer {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-auto-rows:auto ;
  background-color: #f2f2f2f2;
  border: 0px double black;
  margin-left: 40px;
  width: 1018px;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-right: 200px;
  padding-left: 100px;
  margin-top: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:medium;
  font-weight: lighter;
}

.socialicons {
  display: inline-flex;
  justify-content: flex-end;
  align-items:center;
  padding-top: 10px;
}

.sign {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  padding-top: 10px;
}

.sign > p {
  padding-right: 10px;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1318px;
  margin-left: 40px;
  margin-top: 10px;
}

.articlenav {
  display: flex;
  flex-direction: column;
  width: 96px;
  padding: 20px;
  background-color: #f2f2f2;
}

.articlenav > ul {
  padding-inline-start: 8px;
}

.articlenav > ul > li {
  padding-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.articlemain {
  background-color: #c8d8e4;
  width: 1202px;
  margin-left: 6px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.articlemain {
  width: 1318px;
}

.articlemain > h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
}

.articlemain > h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.articlemain > h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  text-indent: 20px;
  font-style: italic;
}

.articlemain > p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-right: 40px;
}

.articlemain > ul > li {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  padding: 4px;
}

.table_control {
  display: flex;
  justify-content: space-evenly;
}

.search_button {
  background-color: brown;
  color: white;
}

.table_main {
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid gray;
}

th {
  font-size: large;
}

td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

th,
td {
  padding: 4px;
}

.course_cover {
  width: 80px;
  height: 96px;
  align-items: center;
}

.description {
  width: 600px;
}

.course_title {
  font-size: large;
  font-weight: bolder;
}
